/* *COMMON CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family:'Open Sans', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.heading{
    text-align: center;
}
.heading h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
.heading p{
    font-size: 16px;
    color: #7e8287;
    line-height: 41px;
}
.heading p strong{
    font-size: 23px;
}
.button{
    background-color: #cfc91d;
    color: #0b1016;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 43px;
    display: inline-block;
    font-weight: 800;
}

.text-center{
    text-align: center;
}

/* *COMMON CSS ENDS */

/* *NAVBAR STARTS */

nav{
    background-color: #02918c;
}
nav .logo{
    width: 40%;
}
nav .menu{
    width: 60%;
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
}
nav .menu ul li a{
    color: white;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    padding: 26px 25px;
    display: block;
}


/* *NAVBAR ENDS */

/* * BANNER STARTS HERE */
 #banner{
    background-image: url(../images/banner.jpg);
    height: 727px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 #banner .row{
    height: 727px;
 }
 #banner .banner_cnt{
    color: white;
    text-align: center;
    width: 100%;
 }
 #banner .banner_cnt h6{
    font-size: 30px;
    font-weight: 400;
 }
 #banner .banner_cnt h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
 }
 #banner .banner_cnt img{
    margin: 50px 0;
 }

/* * BANNER ENDS HERE */

/* *ABOUT STARTS HERE */
#about{
    padding: 98px 0;
}
#about .heading p{
    padding: 0 137px;
}
#about .about_card{
    width: 25%;
    background: 1px solid #0b1016;
    padding: 37px 60px;
}
#about .about_card:last-child{
    border-right: none ;
}

/* *ABOUT ENDS HERE */

/* =========== Service Section Css Start =========== */

#service{
    background-image: url(./../images/service_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
#service .innner_container{
    width: 50%;
}
#service .heading{
    text-align: left;
} 
#service .service-card{
    width: 50%;
    padding-right: 110px;
    margin-top: 80px;
}


/* =========== Service Section Css End =========== */

/* =========== My Work Section Css Start =========== */
#mywork .heading p{
    padding: 0 237px;
}
#mywork .mywork_card{
    width: 25%;
    position: relative;
}
#mywork .mywork_card img{
    width: 100%;
    height: 100%;
}
#mywork .mywork_card .overlay{
    position: absolute;
    background: rgba(2,145,140,0.85);
    inset: 20px 28px;
    transform: scale(0);
    transform-origin: left top;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
#mywork .mywork_card:hover .overlay{
    transform: .5s;
}
/* =========== My Work Section Css End =========== */

/* =========== Contact Section Css Start =========== */
#contact .heading p{
    padding: 0 237px;
}
#contact .contact_form{
    background-color: #0b0b0b;
    padding: 70px 0;
}
#contact .contact_form input{
    display: block;
    margin: 0 auto;
    background: none;
    padding: 18px;
    font-size: 16px;
    color: #7e8287;
    text-align: center;
    border: none;
    margin-bottom: 51px;
    border-bottom: 1px solid #7e8287;
    transition: .4s;
}
contact .contact_form input:focus{
    outline:none;
    border-bottom-color: #02918c ;

}
#contact .contact_form input:nth-child(1),
#contact .contact_form input:nth-child(2){
    width: 640px;
}

#contact .contact_form input:nth-child(3),
#contact .contact_form input:nth-child(4){
    width: 920px;
}
#contact .contact_form button{
    border: none;
    cursor: pointer;
}



/* =========== Contact Section Css End =========== */
